*{
    box-sizing: border-box;
    }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
  }
  
  .login-form {
    margin: auto;
    margin-top: 10%;
    background: rgba(236, 159, 82, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form {
    form {
        margin-bottom: 10px;
    }
    a {
        color: black;
    }

    h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        text-align: left;
    }

    input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: white;
        border: 1px solid white;
        border-radius: 3px;
        margin-top: 10px;
        color: black;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
      background: #efefef;
      color: black;
    }
    button:active {
      background: linear-gradient(90deg, #eee, rgba(255, 255, 255, 1) 50%);
      color: black;
    }
  }